# Python
__pycache__/
*.pyc

# Entornos
.venv/
.env

# Datos pesados
/data/*.parquet
/data/*.csv

# Configs sensibles
/configs/*.json
/configs/*.yaml

# Models
/models

/debugs_agent.py

/data/

.pytest_cache

requirements-dev.txt

venv
/driver